@charset "UTF-8";

/*#region imports*/
@font-face
{
    font-family: "Raleway";
    src: url("../fonts/Raleway-VariableFont_wght.ttf") format("truetype"),
    url("../fonts/raleway-variablefont_wght-webfont.woff") format("woff"),
    url("../fonts/raleway-variablefont_wght-webfont.woff2") format("woff");
}

/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');*/
/*endregion imports*/

/*#region page*/
.displayNone
{
    display: none;
}

body
{
    margin: 0;
}

.container
{
    display: flex;
    flex-flow:column wrap;
    font-family: "Raleway";
    align-items: stretch;
    align-self: center;
}

a
{
    text-decoration: none;
    color: black;
}

ul
{
    padding:0;
    list-style: none;
}

h4
{
    font-weight: bold;
    font-size: large;
}

h6
{
    font-weight: normal;
    font-size: medium;
}

/*#region Top Frame*/
#top_frame
{
    display: flex;
    flex-flow:column nowrap;
    align-content: space-between;
}

#top_frame div
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#logo
{
    height: 50px;
    margin: auto auto auto 5px;
}

/*#region Menu*/
#subscribe_mobile a, #subscribe
{
    text-decoration: none;
    color: #0065FC;
    font-weight: bolder;
    font-size: large;
}

#subscribe_mobile a
{
    align-self: flex-end;
    margin: auto 10px auto auto;
}

#subscribe
{
    display: none;
}

.selection
{
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    height: 3em;
    border-top: 0px solid #ffffff00;
    border-bottom: 2px solid #979797;
    cursor: pointer;
    font-weight: normal;
    font-size: large;
}

#menu
{
    display: flex;
    justify-content: space-between;
}

#selection_accommodations
{
    flex-grow: 0.5;
}

#selection_activities
{
    flex-grow: 0.7;
}

.selection:hover
{
    border-color: #0065FC;
    font-weight: normal;
    color: #0065FC;
}

#slogan
{
    margin: auto 20px;
}

#slogan h4
{
    font-size: x-large;
}

#slogan h6
{
    margin: -20px auto 20px auto;
}
/*#endregion Menu*/

/*#endregion Top Frame*/

/*#region body*/

/*#region search*/
#utils
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

#search
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

#localization
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    border-radius: 0.5em 0em 0em 0.5em;
    border:none;
    height: 50px;
    width: 50px;
    margin: 0em -0.2em 0em 0em;
    cursor: pointer;
}

#localization i
{
    font-size: 20px;;
}

input[type=search]
{
    height: 50px;
    border: 1px solid #F2F2F2;
    width: 230px;
}

#search_button
{
    height: 50px;
    width: 50px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: small;
    background-color: #0065FC;
    border-radius: 1em;
    margin: 0 0 0 -5px;
    border: none;
}

#search_button:hover, #localization:hover, input[type=search]:hover
{
    box-shadow: 0px 0px 6px #0065FC;
}

#button_search_text
{
    display: none;
}
/*#enregion search*/

#button_search_icon
{
    display: inline-block;
    font-size: 20px;
}

/*#enregion search*/

/*#region filters*/
#filters, #filters ul, #filters ul li button, .image_filter
{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-size: medium;
    font-weight: bold;
}

#filters
{
    margin-top: 0.3em;
    flex-wrap: wrap;
}

#filters label
{
    margin: 20px 0 0 20px;
}

#filters ul
{
    flex-wrap: wrap;
}

#filters ul li
{
    list-style: none;
    margin: 0.3em 0 0.3em 0.9em;
}

.filter
{
    border-radius: 1.7em;
    border: 2px #F2F2F2 solid;
    height:50px;
    background-color: transparent;
    display: flex;
    flex-flow: row nowrap;
    align-items:center;
}

.filter:hover
{
    cursor: pointer;
    box-shadow: 0px 0px 6px #0065FC;
}

.filter_name
{
    margin: auto 0.5em;
}

.image_filter
{
    justify-content: center;
    height: 50px;
    width: 50px;
    margin: -0em -0em -0em -0.5em;
    background-color: #DEEBFF;
    border-radius:1.7em;
}

.image_filter i
{
    font-size:20px;
    color: #0065FC;
}

#result
{
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: flex-start;
    margin: auto 15px 15px 15px;
}

#circle_info
{
    color:#F2F2F2; 
    font-size:xx-large;
}

#info
{
    display: flex;
    align-items: center;
    height: 1.5em;
    width: 1.5em;
    margin-right: 0.5em;
    margin-left:-1.3em;
    color:#0065FC;
    font-size: 0.9em;
}

/*#endregion filters*/

/*#region content*/
#principal_content
{
    display:flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

/*#region article*/
article
{
    border-radius: 0.8em;
    background-color: white;
    margin-bottom: 30px;
    box-shadow: 0px 3px 12px rgba(161, 160, 160, 0.404);
    padding: 5px;
    cursor: pointer;
    transform-origin:.5 0;
    transform:scale(1);
    transition:transform 400ms ease-in-out;
}

article:hover
{
    box-shadow: 0px 0px 6px #0065FC;
    transform:scale(1.1);
}

.note
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 0 17px;
    width: 70px;
}

.star
{
    font-size: 12px;
}

.article_title
{
    font-weight: bold;
    font-size: medium;
    margin: 5px 0 0 17px;
}

.article_price
{
    font-size: small;
    margin-left: 17px;
}

article img
{
    object-fit: cover;
}
/*#endregion article*/

/*#region common*/
footer, #popular
{
    background-color:#F2F2F2;
}

#accommopopular
{
    display: flex;
    flex-flow: column-reverse nowrap;
}

/*#endregion common*/

/*#region accommodations*/
#accommodations
{
    display: flex;
    flex-flow: column wrap;
}

#accommodations h4
{
    margin: 20px auto 20px 15px;
}

#accommodations_list
{
    display: flex;
    flex-flow:column wrap;
    justify-content: space-between;
    align-items: center;
}

#display_more
{
    cursor: pointer;
    font-size: medium;
}
/*#endregion accommodations*/

/*#region article accommodations*/
#accommodations_list article a
{
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-start;
    height: 200px;
    width: 345px;
}

.accommodations_img
{
    margin: -5px 0 0 0;
    height: 115px;
    width: 345px;
    border-radius: 0.8em 0.8em 0 0;
}

/*#endregion article accommodations*/

/*#region popular*/
#popular
{
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
}

#popular_title
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 15px;
}

#img_chart
{
    font-size: 1.5em;
}

#popular_list
{
    display: flex;
    flex-flow:column nowrap;
    align-items: center;
}

/*#region article popular*/
#popular_list article a
{
    display: flex;
    flex-flow:row nowrap;
    height: 144px;
    width:345px;
}

.popular_img
{
    border-radius: 0.8em 0 0 0.8em;
    width: 127px;
}

.popular_desc
{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 0 30px 0 0;
}

.popular_desc .article_price
{
    height: 35px;
    flex-grow: 0.5;
}

.popular_desc .note
{
    margin-bottom: 10px;
}
/*#endregion article popular*/
/*#endregion popular*/

/*#regionactivities*/
#activities_list
{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-content: space-between;
}

#activities h4
{
    margin: 20px auto 20px 15px;
}

#activities_list article
{
    padding:0;
    display: flex;
    flex-flow:column nowrap;
    height: 195px;
    width: 345px;
}

#activities_list article a
{
    display: flex;
    flex-flow:column nowrap;
}

.col_activities article a .article_title
{
    margin:25px 0 20px 20px;
}

.activities_img
{
    height: 130px;
    border-radius: 0.8em 0.8em 0 0;
}

/*#endregion activities*/
/*#endregion content*/

footer
{
    display: flex;
    flex-flow:column wrap;
    align-items: flex-start;
    justify-content: center;
    background-color: #F2F2F2;
    min-height: 215px;
}

footer section
{
    display: flex;
    flex-flow:column nowrap;
    font-size: large;
    margin:  0 25px;
}

footer a:hover
{
    font-weight: bolder;
}
/*#endregion body*/
/*#endregion page*/

/*#region media queries (Tablette)*/
@media screen and (min-width:768px)
{
    body
    {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        margin: 10px;
    }

    #top_frame
    {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
   
    #logo
    {
        height: 40px;
    }

    #menu
    {
        width: 460px;
    }

    #menu a
    {
        font-size: medium;
    }

    #subscribe
    {
        display: flex;
        flex-grow: 0.5;
    }

    #subscribe_mobile
    {
        display: none;
    }

    .selection
    {
        border-top: 2px solid #ffffff00;
        border-bottom: 0px solid #ffffff00;
        flex-grow: 1;
    }
    
    .selection a:hover
    {
        color: #0065FC;
    }

    #slogan
    {
        margin: auto;
    }

    #search
    {
        justify-content: flex-start;
    }

    #search_button
    {
        width: 135px;
        border-radius: 0em 0.5em 0.5em 0em;
        margin: 0;
    }

    #button_search_text
    {
        display: flex;
        justify-content: center;
    }

    #button_search_icon
    {
        display: none;
    }

    #filters label
    {
        margin: 0;
    }

    #result
    {
        margin: 0;
    }
    
    #circle_info
    {
        font-size:x-large;
    }
    
    #info
    {
        margin-left:-1.1em;
        font-size: 0.8em;
    }

    #principal_content
    {
        flex-flow: column wrap;
    }

    #accommodations_list article a
    {
        height: 200px;
        width: 245px;
    }

    .accommodations_img
    {
        width: 245px;
    }

    #accommodations
    {
        flex-flow: column wrap;
        background-color:#F2F2F2;
        width: auto;
        flex: 0.5;
    }
    
    #accommodations_list
    {
        display: flex;
        flex-flow:row wrap;
        justify-content: space-between;
        margin: 0 35px;
    }

    #accommodations, #popular
    {
        border-radius: 0.8em;
    }

    #accommodations h4, #display_more
    {
        margin-left: 35px;
    }

    #accommopopular
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        height: auto;
        width: auto;
        margin: 20px auto;
    }

    #popular
    {
        /*width:420px;*/
        max-height: 626px;
        margin-left: 30px;
        flex: 1;
    }

    #popular_list
    {
        width: auto;
    }
    
    #popular_title
    {
        margin: 0 35px;
    }

    #activities h4
    {
        margin: 20px auto; 
    }

    #activities_list
    {
        justify-content: space-between;
        flex-flow:row wrap;
    }

    #activities_list article
    {
        justify-content: stretch;
        width: 300px;
        flex-grow: 1;
    }

    #activities_list article a
    {
        width: 300px;
        flex-grow: 1;
    }

    .activities_img
    {
        width: 300px;
        flex-grow: 1;
    }

    .col_activities
    {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
    }

    #activities, #accommopopular, footer
    {
        justify-content: space-between;
        max-width: 1340px;
    }

    footer
    {
        flex-flow:row wrap;
        justify-content: space-around;
        align-content: center;
    }
}
/*#endregion media queries (Tablette)*/

/*#region media queries (Desktop)*/
@media screen and (min-width:1024px)
{
    #popular
    {
        width:420px;
        max-height: 626px;
        margin-left: 20px;
        flex: 1;
    }

    #accommodations
    {
        flex-flow: column wrap;
        background-color:#F2F2F2;
        width: auto;
        flex: 1.5;
    }
}
/*#endregion media queries (Desktop)*/

/*#region media queries (Desktop Large)*/
@media screen and (min-width:1280px)
{
    #popular
    {
        width:420px;
        max-height: 626px;
        flex: 0.7;
    }

    #accommodations
    {
        flex-flow: column wrap;
        background-color:#F2F2F2;
        width: auto;
        flex: 1.6;
    }
}
/*#endregion media queries (Desktop Large)*/